/tmp/

.vscode/settings.json
.vscode
*.code-workspace
.coverage
.benchmarks/

/*.out
/*.log
/*.cov
/*.html
/*.pprof

*.test

tests/compat/testdata/
tests/compat/compat
tests/measurev2/results/

__pycache__/
*.pyc
